/* 📱 Mobile */
@media (max-width: 568px) {

    body {
        padding: 20px;
        height: 100vh;
        /* evita corte */
    }

    main.container {
        width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    #valor {
        font-size: 8rem;
    }

    button {
        width: 100%;
        margin: 8px 0;
        font-size: 1rem;
        text-transform: uppercase;
    }

}